/* navbar css */
.navbar-custom {
    backdrop-filter: blur(20px) brightness(50%);
    /* padding: 10px 15px; */
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.nav-link {
    color: #ffffff !important;
    font-size: 13px;
    font-weight: 500;
    margin-left: 25px;
}

.nav-link:hover {
    color: #ffffff !important;
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* arcs */
.arcSection .arcsTitle {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
}

.arcsCard {
    background-color: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.arcsCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.arcsCard .card-body h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.arcsCard .card-body p {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}


.arcsCard .card-img-top {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    background: #cfcfcf;
}

/* hashiras */
.hashiraSection .hashiraName {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.hashiraSection h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
}

/* Hover card styles */
.hashiraCard .img-hover-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.img-hover-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.hover-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Hover effects */
.img-hover-card:hover img {
    filter: blur(4px) brightness(60%);
    transform: scale(1.05);
}

.img-hover-card:hover .hover-text {
    opacity: 1;
}

/* uppermoons */
.uppermoonSection .uppermoonName {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.uppermoonSection h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
}

.uppermoonSection p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.uppermoonCard .img-hover-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

/* kamaboko squad */

.kamabokoSection .kamabokoName {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.kamabokoSection h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
}

.kamabokoSection p {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.kamabokoCard .img-hover-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

/* footer */
.footer {
    background: #000000;
    text-align: center;
    padding: 8px;
    font-size: 15px;
    color: #ffffff;
}

.footer p {
    margin: 0;
}

.footer .credits {
    font-size: 10px;
    color: #838282;
}